//abstracts
@import "./abstracts/_mixins";
@import "abstracts/_color.scss";

//base
@import "base/_reset.scss";

//layout
@import "./layout/_header.scss";
@import "./layout/_footer.scss";

//pages
@import "pages/_home.scss";
@import "pages/_shop.scss";
@import "pages/_contact.scss";
@import "pages/_wishlist.scss";
@import "pages/_login.scss";
@import "pages/_checkout.scss";

//vendors
@import "vendors/bootstrap.scss";