footer .af {
  color: #737373;
}

footer .hover-col:hover {
  color: #FF5151;
}

footer .footer-1 {
  background-color: #f8f8f8;
  padding: 120px 0 85px 0;
}

footer .footer-1 .icon-paragraph {
  margin: 21px 0 23px;
}

@media (max-width: 567px) {
  footer .footer-1 ul {
    padding-left: 0;
  }
}

footer .footer-1 ul li {
  line-height: 35px;
}

footer .footer-1 .footer-icon {
  font-size: 16px;
  color: #9d9d9d;
}

footer .footer-1 .footer-icon:hover {
  color: #FF5151;
}

footer .footer-1 .footer-header {
  font-size: 16px;
  margin-bottom: 30px;
  color: #373737;
  font-weight: bold;
}

footer .footer-1 .inp-paragraph {
  color: #373737;
  margin: 15px 0 30px;
}

footer .footer-1 .footer-inp {
  padding-bottom: 10px;
  border-bottom: 1px solid #e3e3e3;
  font-size: 14px;
}

footer .footer-1 .footer-inp input {
  border: none;
  outline: none;
  background: transparent;
  padding-right: 55px;
  color: #737373;
}

@media (max-width: 1199px) {
  footer .footer-1 .footer-inp input {
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  footer .footer-1 .footer-inp input {
    padding-right: 45px;
  }
}

footer .footer-1 .footer-inp i {
  font-size: 16px;
}

footer .footer-2 {
  background-color: #ebebeb;
  font-size: 14px;
}

footer .footer-2 p {
  padding: 20px 0;
}

.footer-area {
  background-color: #f4f8fa;
  padding-top: 80px;
}

.footer-area .hover-col:hover {
  color: #FF5151 !important;
}

@media (min-width: 1200px) {
  .footer-area .footer-container {
    padding: 0 65px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .footer-area .footer-container {
    padding: 0 30px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .footer-area .footer-container {
    padding: 0 45px;
  }
}

@media (max-width: 767px) {
  .footer-area .footer-container {
    padding: 0 10px;
  }
}

.footer-area .footer-container .footer-top {
  padding-bottom: 40px;
}

.footer-area .footer-container .footer-top .footer-wrapper {
  margin-bottom: 30px;
}

.footer-area .footer-container .footer-top .footer-wrapper .footer-about {
  font-size: 14px;
  color: #373737;
  margin: 0;
  line-height: 25px;
  margin: 42px 0 0;
}

@media (min-width: 1200px) {
  .footer-area .footer-container .footer-top .footer-wrapper .footer-about {
    width: 56%;
  }
}

.footer-area .footer-container .footer-top .footer-wrapper li {
  line-height: 35px;
}

.footer-area .footer-container .footer-top .footer-wrapper li .footer-header {
  color: #373737;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 35px;
}

.footer-area .footer-container .footer-top .footer-wrapper li a {
  color: #373737;
  font-size: 14px;
  margin-bottom: 18px;
}

.footer-area .footer-container .footer-bottom .row {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 40px;
}

.footer-area .footer-container .footer-bottom .row .tag-sections {
  padding: 0 15px 35px;
}

.footer-area .footer-container .footer-bottom .row .tag-sections .tag-title span {
  font-weight: bold;
}

.footer-area .footer-container .footer-bottom .row .tag-sections .tag-list li {
  margin: 0 12px 5px 0;
}

.footer-area .footer-container .footer-bottom .row .tag-sections .tag-list li a {
  color: #373737;
  font-size: 14px;
  font-style: italic;
}

.footer-area .footer-container .footer-bottom .copyright {
  padding: 20px 0;
}

.footer-area .footer-container .footer-bottom .copyright p {
  font-size: 14px;
}
