.bg-section {
  background-image: url("../../../assets/images/bg/breadcrumb.jpg");
  padding: 110px 0 117px;
  background-position: 50% 90%;
}

.bg-section h2 {
  font-size: 34px;
  margin-bottom: 10px;
  color: #373737;
  font-weight: bold;
}

.bg-section p {
  font-size: 15px;
  color: #373737;
}

.bg-section p a {
  color: #373737;
}

.bg-section p a:hover {
  color: #FF5151;
}

.bg-section p .active {
  color: #FF5151;
}

.shop-main-section {
  padding: 90px 0;
}

.shop-main-section .shop-product-topbar {
  padding: 15px 24px;
  margin-bottom: 30px;
  border: 1px solid #e9e9e9;
}

.shop-main-section .shop-product-topbar .icons-container a {
  z-index: 2;
}

.shop-main-section .shop-product-topbar .icons-container i {
  font-size: 20px;
  color: #333;
}

.shop-main-section .shop-product-topbar .icons-container .active-btn i {
  color: #FF5151;
}

.shop-main-section .shop-product-topbar .topbar-info {
  font-size: 14px;
  color: #333333;
  z-index: 1;
}

@media (max-width: 768px) {
  .shop-main-section .shop-product-topbar .product-sorting-part {
    margin-top: 15px;
  }
}

.shop-main-section .shop-product-topbar .product-sorting-part label {
  font-size: 14px;
  color: #242424;
  margin: 3px 11px 0 0;
  cursor: pointer;
}

.shop-main-section .shop-product-topbar .product-sorting-part select {
  padding-left: 10px;
  border: 1px solid #ebebeb;
  cursor: pointer;
  border-radius: 3px;
  height: 30px;
  font-size: 14px;
  outline: none;
}

.shop-main-section .shop-product-topbar .product-sorting-part select:active {
  outline: none;
}

.shop-main-section .shop-product-topbar .product-sorting-part .view-select select {
  width: 110px;
}

@media (max-width: 1199px) {
  .shop-main-section .shop-product-topbar .product-sorting-part .view-select select {
    width: 75px;
  }
}

@media (max-width: 767px) {
  .shop-main-section .shop-product-topbar .product-sorting-part .view-select select {
    width: 163px;
  }
}

.shop-main-section .shop-product-topbar .product-sorting-part .sortby-select select {
  width: 210px;
}

@media (max-width: 1199px) {
  .shop-main-section .shop-product-topbar .product-sorting-part .sortby-select select {
    width: 150px;
  }
}

.shop-main-section .product-section.shop1 {
  padding-bottom: 0;
}

.shop-main-section .product-section.shop2 {
  padding-bottom: 0;
}

@media (max-width: 576px) {
  .shop-main-section .product-section.shop2 {
    top: 180px;
  }
}

.shop-main-section .product-section.shop2 .products-wrap {
  margin-bottom: 30px;
}

.shop-main-section .product-section.shop2 .products-wrap:hover .pro-quickview {
  transition-delay: 0.3s;
  opacity: 1 !important;
  transform: translateY(0);
}

.shop-main-section .product-section.shop2 .products-wrap .image-wrap .pro-quickview {
  z-index: 2;
  left: 45%;
  top: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s, transform 0.3s;
}

.shop-main-section .product-section.shop2 .products-wrap .image-wrap .pro-quickview i {
  color: #737373;
  font-size: 22px;
}

.shop-main-section .product-section.shop2 .products-wrap .image-wrap .pro-quickview:hover {
  background-color: #FF5151;
  border: none;
}

.shop-main-section .product-section.shop2 .products-wrap .image-wrap .pro-quickview:hover i {
  color: #FFFFFF;
}

.shop-main-section .product-section.shop2 .products-wrap .product-info span {
  color: #737373;
  font-size: 15px;
}

.shop-main-section .product-section.shop2 .products-wrap .product-info h4 {
  margin: 5px 0 17px;
}

.shop-main-section .product-section.shop2 .products-wrap .product-info h4 a {
  color: #373737;
  font-size: 20px;
  font-weight: bold;
}

.shop-main-section .product-section.shop2 .products-wrap .product-info h4 a:hover {
  color: #FF5151;
}

.shop-main-section .product-section.shop2 .products-wrap .product-info .pro-price span {
  color: #373737;
  font-weight: bold;
  font-size: 22px;
  line-height: 1;
}

.shop-main-section .product-section.shop2 .products-wrap .product-info .pro-price .old-price {
  font-size: 16px;
  margin: 0 0 0 10px;
  font-weight: 400;
  text-decoration: line-through;
}

.shop-main-section .product-section.shop2 .products-wrap .product-info p {
  font-size: 15px;
  color: #333333;
  line-height: 25px;
  margin: 10px 0 20px;
}

.shop-main-section .product-section.shop2 .products-wrap .product-info .product-icons {
  display: flex;
  gap: 10px;
}

.shop-main-section .product-section.shop2 .products-wrap .product-info .product-icons .product-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
}

.shop-main-section .product-section.shop2 .products-wrap .product-info .product-icons .product-icon i {
  color: #737373;
  font-size: 20px;
}

.shop-main-section .product-section.shop2 .products-wrap .product-info .product-icons .product-icon:hover {
  background-color: #FF5151;
  border: none;
}

.shop-main-section .product-section.shop2 .products-wrap .product-info .product-icons .product-icon:hover i {
  color: #FFFFFF;
}

.shop-main-section .product-section {
  display: none !important;
}

.shop-main-section .product-section.active {
  display: block !important;
}

.shop-main-section .products-pagination ul li a {
  font-size: 18px;
  color: #706c6c;
  width: 35px;
  height: 35px;
  line-height: 37px;
  border-radius: 100%;
  background-color: transparent;
  text-align: center;
  display: inline-block;
}

.shop-main-section .products-pagination ul li a:hover {
  background-color: #FF5151;
  border-radius: 50%;
  color: #FFFFFF;
}

.shop-main-section .products-pagination ul li .active {
  background-color: #FF5151;
  border-radius: 50%;
  color: #FFFFFF;
}

.shop-main-section .products-pagination ul li .prev {
  font-size: 16px;
  width: 48px;
  color: #fff;
  background-color: #ff5151;
  height: 35px;
  border-radius: 50px 0px 0px 50px;
  margin: 0 20px 0 0;
}

.shop-main-section .products-pagination ul li .prev:hover {
  background-color: #000;
  border-radius: 50px 0px 0px 50px;
}

.shop-main-section .products-pagination ul li .next {
  font-size: 16px;
  width: 48px;
  color: #fff;
  background-color: #ff5151;
  height: 35px;
  border-radius: 0 50px 50px 0px;
  margin: 0 0px 0 20px;
}

.shop-main-section .products-pagination ul li .next:hover {
  background-color: #000;
  border-radius: 0 50px 50px 0px;
}

.shop-main-section .shop-sidebar {
  border: 1px solid #efefef;
  padding: 17px 18px 29px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .shop-main-section .shop-sidebar {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .shop-main-section .shop-sidebar {
    margin-top: 40px;
  }
}

.shop-main-section .shop-sidebar .sidebar-wrapper .sidebar-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  line-height: 1;
  color: #222;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.search {
  border-bottom: 1px solid #efefef;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.search .shop-search {
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.search .shop-search input {
  background: transparent;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  height: 43px;
  padding: 2px 40px 2px 18px;
  color: #444;
  outline: none;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.search .shop-search button {
  background: transparent;
  border: none;
  padding: 1px 15px 0;
  position: absolute;
  right: 0;
  top: 25%;
  cursor: pointer;
  color: #444;
  font-size: 14px;
  border-left: 1px solid #a1a5aa;
}

@media (max-width: 1199px) and (min-width: 768px) {
  .shop-main-section .shop-sidebar .sidebar-wrapper.search .shop-search button {
    padding-right: 0px;
  }
}

.shop-main-section .shop-sidebar .sidebar-wrapper.category {
  padding-top: 40px;
  border-bottom: 1px solid #efefef;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.category .shop-category {
  margin-top: 20px;
  margin-bottom: 27px;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.category .shop-category ul li {
  padding: 0 0 13px;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.category .shop-category ul li a {
  color: #373737;
  font-size: 16px;
  cursor: pointer;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.category .shop-category ul li a:hover {
  color: #FF5151;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.category .shop-category .category-name i {
  float: right;
  padding-right: 8px;
  font-size: 12px;
  color: #444;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.category .shop-category .category-name i:hover {
  color: #FF5151;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.category .shop-category .shop-subcategory {
  display: none;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.category .shop-category .shop-subcategory li {
  padding: 7px 0 0 15px;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.category .shop-category .shop-subcategory li a {
  font-size: 14px;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.filter {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #efefef;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.filter .range-init {
  margin: 20px 0 21px;
  font-size: 14px;
  color: #010225;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.filter .slider {
  width: 100%;
  height: 5px;
  background-color: #ddd;
  position: relative;
  margin: 20px 0;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.filter .slider .range {
  height: 100%;
  background-color: #FF5151;
  position: absolute;
  top: 0;
  left: 0;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.filter .slider .thumb {
  width: 15px;
  height: 15px;
  background-color: #FF5151;
  position: absolute;
  top: -6px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.filter .slider .thumb:first-child {
  left: 0;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.filter .slider .thumb:last-child {
  right: 0;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.filter .slider .thumb .white-circle {
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 7px;
  height: 7px;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.filter input {
  background: transparent;
  padding: 0;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  color: #333;
  height: 37px;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.filter button {
  background-color: #333;
  border: none;
  color: #fff;
  line-height: 1;
  padding: 8px 16px;
  cursor: pointer;
  width: 65px;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.checkbox {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #efefef;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.checkbox .shop-checkbox {
  margin-top: 20px;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.checkbox .shop-checkbox .checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.checkbox .shop-checkbox .checkbox-container a {
  color: #373737;
  font-size: 14px;
  padding-right: 120px;
}

@media (max-width: 1199px) and (min-width: 992px) {
  .shop-main-section .shop-sidebar .sidebar-wrapper.checkbox .shop-checkbox .checkbox-container a {
    padding-right: 30px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .shop-main-section .shop-sidebar .sidebar-wrapper.checkbox .shop-checkbox .checkbox-container a {
    padding-right: 560px;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .shop-main-section .shop-sidebar .sidebar-wrapper.checkbox .shop-checkbox .checkbox-container a {
    padding-right: 360px;
  }
}

@media (max-width: 575px) {
  .shop-main-section .shop-sidebar .sidebar-wrapper.checkbox .shop-checkbox .checkbox-container a {
    padding-right: 300px;
  }
}

@media (max-width: 495px) {
  .shop-main-section .shop-sidebar .sidebar-wrapper.checkbox .shop-checkbox .checkbox-container a {
    padding-right: 200px;
  }
}

@media (max-width: 400px) {
  .shop-main-section .shop-sidebar .sidebar-wrapper.checkbox .shop-checkbox .checkbox-container a {
    padding-right: 50px;
  }
}

.shop-main-section .shop-sidebar .sidebar-wrapper.checkbox .shop-checkbox .checkbox-container a span {
  background-color: #eeeeee;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 50px;
  float: right;
  font-size: 13px;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.checkbox .shop-checkbox .checkbox-container a:hover {
  color: #FF5151;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.checkbox .shop-checkbox .checkbox-container a:hover span {
  background-color: #FF5151;
  color: #FFFFFF;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.checkbox .shop-checkbox .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.checkbox .shop-checkbox .checkbox-container input:checked ~ .checkmark {
  background-color: #FF5151;
  border: none;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.checkbox .shop-checkbox .checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.checkbox .shop-checkbox .checkbox-container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.shop-main-section .shop-sidebar .sidebar-wrapper.checkbox .shop-checkbox .checkmark {
  position: absolute;
  top: 12px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 1px solid #242424;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.checkbox .shop-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.tag {
  padding-top: 40px;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.tag .tags {
  margin-top: 20px;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.tag .tags li {
  display: inline-block;
  margin: 0 10px 30px 0;
}

@media (max-width: 1199px) and (min-width: 992px) {
  .shop-main-section .shop-sidebar .sidebar-wrapper.tag .tags li {
    margin-right: 0px;
  }
}

.shop-main-section .shop-sidebar .sidebar-wrapper.tag .tags li a {
  padding: 10px 17px 10px;
  line-height: 1;
  border: 1px solid #ebebeb;
  font-size: 14px;
  color: #373737;
}

.shop-main-section .shop-sidebar .sidebar-wrapper.tag .tags li a:hover {
  background-color: #FF5151;
  color: #FFFFFF;
}
